0
1
0
1
3
32
100002
100000
/home/den/Google Drive/2. Projects/P:bayespetr Implementation/bayespetr/src/pet_simulate.data
/home/den/Google Drive/2. Projects/P:bayespetr Implementation/bayespetr/src/pet_time.data
/home/den/Google Drive/2. Projects/P:bayespetr Implementation/bayespetr/src/pet_conv.data
/home/den/Google Drive/2. Projects/P:bayespetr Implementation/bayespetr/src/pet_prior_n.data
/home/den/Google Drive/2. Projects/P:bayespetr Implementation/bayespetr/src/pet_proposal_n.data
0
